# Ignore everything
*

# But not these files...
!.gitignore
!.gitattributes
!README.md
!LICENSE

# ...even if they are in subdirectories
!scad/
!scad/*

!pcb/
!pcb/*

!stl/
!stl/*

!deps/
!deps/*

!deps/*/
!deps/*/*

!docs/
!docs/*

!docs/*/
!docs/*/*

!firmware/
!firmware/*.ino
