# Ignore everything
*

# But not these files...
!.gitignore
!.gitattributes
!README.md
!LICENSE

# ...even if they are in subdirectories
!scad/
!scad/*

!pcb/
!pcb/*

!export/
!export/*

!deps/
!deps/*

!doc/
!doc/*

!firmware/
!firmware/*.ino
